<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704390507189-3ud230u2ob1po9h39abb2mefctfk2cql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704390507189-3ud230u2ob1po9h39abb2mefctfk2cql</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWXCvvpm65jToAsjkJqcvt51iVAbOXPA</string>
	<key>GCM_SENDER_ID</key>
	<string>704390507189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letmeyoureyes</string>
	<key>PROJECT_ID</key>
	<string>letmebeyoureyes</string>
	<key>STORAGE_BUCKET</key>
	<string>letmebeyoureyes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704390507189:ios:0c503c85d54505ab95ecfc</string>
</dict>
</plist>